In [1]:
import sys

sys.path.insert(0, 'E:\Datasets\Financial\HugeStockPrice')
import pyfinancialdata

In [7]:
data = pyfinancialdata.get(provider='histdata', instrument='SPXUSD', year=2016)
data

                        open     high      low    close    price
date
2016-01-03 18:01:00  2037.75  2040.75  2037.75  2040.75  2040.75
2016-01-03 18:02:00  2040.75  2041.75  2040.75  2041.50  2041.50
2016-01-03 18:03:00  2041.75  2042.00  2041.75  2042.00  2042.00
2016-01-03 18:04:00  2042.25  2042.25  2041.75  2041.75  2041.75
2016-01-03 18:05:00  2042.00  2042.00  2041.75  2042.00  2042.00
...                      ...      ...      ...      ...      ...
2016-12-30 16:51:00  2234.00  2234.50  2234.00  2234.50  2234.50
2016-12-30 16:53:00  2234.50  2234.50  2234.50  2234.50  2234.50
2016-12-30 16:54:00  2234.50  2234.75  2234.25  2234.25  2234.25
2016-12-30 16:55:00  2234.00  2234.00  2233.75  2233.75  2233.75
2016-12-30 16:58:00  2233.50  2233.50  2233.25  2233.50  2233.50

[282913 rows x 5 columns]